
############################################ Nom du serveur

      ########## Gotham City - By digilux ##########

###########################################

###################### ip + port

endpoint_add_tcp "127.0.0.1:30120"
endpoint_add_udp "127.0.0.1:30120"
#endpoint_add_tcp "51.75.22.143:30121"
#endpoint_add_udp "51.75.22.143:30121"

###################### Set connection MYSQL-async

set mysql_connection_string "server=127.0.0.1;database=essentialmode;userid=root;password="

###################### Base

start mapmanager
start chat
start spawnmanager
start sessionmanager
restart sessionmanager
start fivem
#start hardcap					#Désactivé pour la whiteliste
start rconlog
start baseevents

###################### restart sessionmanager

restart sessionmanager          # restart sessionmanager obligatoir sion marche pas

###################### Disable Couchdb from essentialmode

set es_enableCustomData 1

###################### libs

start mysql-async
start essentialmode             # Version 5.0.3
start es_admin2                 # Menu admin
start esplugin_mysql
start es_extended
start scoreboard 				# Démarrer après es_extended
start new_banking				# Script de banque remplaçant esx_atm

################################ peds

start batman
start BatmanBVS
start Cyborg #costume
start CyborgElite
start UnbreakableCyborgElite
start UnbreakableCyborgUpdated



###################### esx-officiel

start cron
#start esx_whitelistEnhanced    # Script de WhiteList
start esx_menu_default			# Gestion des menus
start esx_menu_list				# Gestion des menus
start esx_menu_dialog			# Gestion des menus
#start esx_phone3				# Téléphone
start vdk_call					# Téléphone
start gcphone					# Téléphone
start esx_addons_gcphone		# Téléphone
start esx_billing				# Script des factures
start esx_society				# Script de gestion des sociétés
start esx_addonaccount			# Gestion de l'argent dans la base de données
start esx_datastore				# Stockage de certaines données du joueur/des entreprises
start esx_policejob				# Métiers de policier
start esx_joblisting			# Pole employe
start skinchanger				# Menu de personnalisation de son personnage
start esx_skin					# Création de sa tenue dans le shop
start esx_ambulancejob			# Métiers d'ambulancier
start esx_drugs					# Gestion de la drogue
start esx_holdup				# Holdup des superettes
start esx_mecanojob				# Métiers de mécanicien
start esx_jobs					# Métiers basique (mineur, bûcheron, etc...)
start instance					# Permet d'être à plusieurs dans un même lieu sans se voir (appartements, etc...)
start esx_service				# Gère la prise de service des métiers
start esx_addoninventory		# Inventaire personnel
start esx_property				# Achat/vente/location de maisons/appartements, et gestion du contenu de celles/ceux-ci...)
#start esx_garage				# Remplacé par esx_eden_garage
start esx_taxijob 				# Entreprise de taxi
start esx_clotheshop			# Boutique de vêtements
#start esx_atm 					# Remplacé par new_banking
start esx_bankerjob				# Métiers de banquier
start esx_status				# Barre de faim et de soif, etc
start esx_basicneeds			# Pain et eau (dans le shop)
start esx_vehicleshop			# Concessionnaire
start esx_realestateagentjob	# Métiers d'agent immobilier
start esx_weashops				# Amunations
start esx_shops					# Superettes
start esx_barbershop			# Coiffeur
start esx_mask					# Boutique de masque
start esx_lscustom				# Customiser son véhicule
#start esx_sit					# S'asseoir sur les chaises, bancs, etc...
start esx_optionalneeds			# Bière, etc... (dans les shops)
#start esx_animations			# Désactivé, déjà disponible via le nb_menuperso
start esx_identity				# Script d'identité
start esx_license				# Script de gestion des licences
start esx_dmvschool				# Auto-école
start esx_rpchat				# Discution
start esx_cruisecontrol			# Permet de réguler la vitesse du véhicule
start esx_thief					# Permet de voler un autre joueur
start esx_voice					# Permet de régler la portée la voix
start nb_menuperso 				# Toujours sous les ESX officiels
start TeleportBlanchissement
start esx_streetname            # noms des rues
start esx_pharmacy              # kit de soins gendarmerie


###################### esx-autres


start esx_AdvancedFuel			# Gestion de l'essence
start esx_eden_garage			# Garage remplaçant le esx_garage
start esx_blanchisseur          # Blanchiment d'argent indépendant (par défaut dans la banque)
start esx_unicornjob            # Barman
start esx_unishow				# Permet d'ajouter les danseuses/danseurs sur la piste.
start esx_vigneronjob			# Entreprise du vignoble
start esx_tattooshop			# Permet de se faire tatouer
start esx_radar                 # Radar fixe
start esx_drugeffects           # effet Xanax
start esx_gouverneur            # Entreprise du président
start esx_cinema				# Permet de regarder un film au cinéma
start esx_conveyor				# Brinks
start esx_doormanager           # fermeture des portes
start esx-carRental             # location de vehicules
start esx_holdubijou            # braquage bijouterie
start esx_holdupstore           # braquage
start esx_swat-tenue           	# Tenue special swat  a tester
start esx_lawyer             	#
#start eden_animal             	# avoir son animal de compagnie
start tequilala             	# metier boite de nuit
start esx_digiluxjob           	# metier montage pc reelle entreprise DIGILUX fait maison
start esx_brewerjob             # metier faire ca biere fait maison
start esx_gangjob               # gang entreprise
start esx_cartel                # mafia
start esx_holdupbank			# Braquage de banque
start esx_fib                   # police FIB
start esx_plasticsurgery		# Chirurgie
start esx_coffeemachine         # machine a cafée
start esx_map
start esx_gps
start esx_accessories
start esx_bahamajob
start esx_outlawalert
start esx_blanchisseur          # Blanchiment d'argent
start esx_bikerjob              # biker
#start esx_advanced_discord_bot
#start esx_armurierjob           # Armurier
start esx_organ                  # Trafic D'Organe
start esx_lsd                    # LSD
start DBG_LesterJobs	         # Double emploie
start esx_securitycam      



###################### Coffre conteneur et autres

start esx_JB_AdvancedTruckInventory # Coffre vehicules

###################### autres

start bob74_ipl					# Chargement des IPL's
start iplLoader					# Chargement des IPL's
start deleteveh					# Permet de supprimer un véhicule
start disabledispatch			# Empêche les PNJ's EMS et Pompiers d'intervenir
start InteractSound				# Permet de jouer le son d'ouverture/fermeture des véhicules
start jb_vehiclelock			# Permet d'ouvrir/fermer les véhicules
start SexySpeedometer			# Compteur de vitesse/de tour/ et d'essence.
start VehiculeHealt				# Donne une santé à votre véhicule, après un certain quota de dégats, vous devez appelez un dépanneur.
start NoWeaponReward			# Les véhicules de police ne donnent plus d'armes quand vous monter dedans.
start NoMoreWeaponsOnNPC
start cam-helico
start esx_binoculars
start esx_armor
start boostvoiture
#start EasyAdmin
start mellotrainer
#start AddOnPedSpawnMenu
start mhaking
start pNotify

############################### # loadingscreen

start rabtor_simple_loadingscreen	# page d accueil

################################ maps

start teleport
start mapping
start batcave
#start waynetower
start manoirwayne
#start aircraftcarrier
start comico
start autres
start Digilux
start social
start rally
start PorteBahamasMamas
start point-entrer
start tp_tribunal
start tp_tribunal2



################################ props



################################ Vehicules moddé

start CCSS16
start batmobile
start policegt350r

################################ Nombre de joueurs

# server slots limit (must be between 1 and 32)
sv_maxclients 2

################################

sv_scriptHookAllowed 1

################################ Mot de passe

# change this
rcon_password yay

################################ Nom du server

sv_hostname "[FR] 🌎 🦇 Gotham City RP By Digilux 🦇  DEV
################################

# nested configs!
#exec server_internal.cfg

################################ logo liste server

# loading a server icon (96x96 PNG file)
load_server_icon myLogo.png
################################ Convertion

# convars for use from script
set temp_convar "hey world!"

###############################

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

###############################

# want to only allow players authenticated with a third-party provider like Steam?
#sv_authMaxVariance 1
#sv_authMinTrust 5

############################### admin + id steam

# add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but dont allow quit
add_principal identifier.steam:1100001349f2f84 group.admin # add the admin to the group

################################ rendre priver

# hide player endpoints in external log output
#sv_endpointprivacy true

################################ licence fivem

# license key for server (https://keymaster.fivem.net)
set sv_licenseKey mf7ghe166l6fk9p0jf6movdljkqzgzfr

################################

#sv_lan 0

################################ Fin
